@import "./config.scss";

.side_bar{
    height: 100%;
    max-width: 280px;
    width: 100%;
    border: 1px solid #c0c0c0;
    padding: 32px 16px;
    box-sizing: border-box;
    background-color: #ffffff;
    li{
        border-radius: 6px;
        padding: 8px 12px;
        margin-bottom: 4px;
        a{
            display: flex;
            align-items: center;
            svg{
                margin-right: 12px;
            }
            p{
                @extend %side_bar_li;
            }
        }
       &:hover{
        background: rgba(31, 192, 174, 0.19);
        a{
            svg {
                path{
                    stroke: $color1B1B1B;
                    }
                }
            }
       }

    }
}