@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');




//Импортированные Файлы стилей scss
@import "./config.css";
@import "./reset.css";
@import "./sidebar.scss";
@import "./info.scss";
@import "./form.scss";



.main_conteiner{
    margin: 30px 62px 37px;
    background: #F6F7FA;
    h1{
        color: #1B1B1B;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.96px;
        text-align: center;
        margin-bottom: 45px;
    }
   
}
    
   
    


